#container {
  width: 554px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.gridBox {
  width: 32px;
  height: 32px;
  border: 1px solid;
}

/* .gridBox:hover {
  background-color: red;
} */
